// Base style
.section {
	position: relative;
	top: 12rem;
}

.card-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	max-width: 1800px;
	margin: 0 auto;
	padding: 4rem 2rem;
	align-items: stretch;

	&:has(.bottom-card:only-child),
	&.single-bottom-card {
		grid-template-columns: 1fr;
		gap: 0;
	}
}

.left-card,
.right-card,
.bottom-card {
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	padding: 20px 25px 25px 25px;
	position: relative;

	.card-header {
		font-size: 3rem;
		font-weight: 950;
		margin-bottom: 0.8rem;
		margin-top: 0;
		line-height: 1.1;
		letter-spacing: 0.1em;
		-webkit-text-stroke: 3px white;
	}

	.card-subheader {
		font-size: 1.1rem;
		margin-bottom: 2rem;
		line-height: 1.4;
		font-weight: 400;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: -0.8rem;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #f97316;
			border-radius: 2px;
		}
	}

	.card-footer-text {
		font-size: 1.1rem;
		line-height: 1.5;
		font-weight: 500;
		margin-right: 80px;
	}
}

.left-card,
.right-card {
	background-color: rgba(0, 0, 0, 0.3);
	background-blend-mode: darken;
}

.bottom-card {
	grid-column: 1 / -1;
	background-color: #353946;
	outline: 1px solid white;
	min-height: 200px;

	.card-subheader::after {
		width: 6%;
	}
}

.btn-container {
	position: absolute;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle-btn {
	width: 60px;
	height: 60px;
	background-color: #f97316;
	border-radius: 50%;

	&:hover {
		transform: scale(1.1);
	}

	&::before {
		content: '';
		width: 16px;
		height: 12px;
		background-color: #666666;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%, -50%);
		clip-path: path('M0 0 L16 6 L0 12 L4 6 Z');
	}
}

// Tablet width
@media (max-width: 768px) {
	.card-grid {
		grid-template-columns: 1fr;
		gap: 40px;
		padding: 4rem 1.5rem;
	}
}

// Smartphone width
@media (max-width: 479px) {
	.card-grid {
		padding: 4rem 1rem;
	}
}
