.title-block {
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	font-family: 'Montserrat', 'Zen Kaku Gothic New', sans-serif;
	font-size: 1.5em;
	margin-bottom: 1em;
}

.title-content {
	text-align: left;
	max-width: 600px;
	font-family: 'Montserrat', 'Zen Kaku Gothic New', sans-serif;
	margin-left: 3rem;
}

.title-content h1 {
	color: white;
	margin: 0;
	font-size: 3rem !important;
	font-weight: 950 !important;
	letter-spacing: 0.1em;
	-webkit-text-stroke: 3px rgb(255, 255, 255);
}

.title-content h3 {
	color: white;
	font-family: 'Montserrat', 'Zen Kaku Gothic New', sans-serif;
	font-size: 0.8em;
	margin: 0.5em 0;
}

.title-content p {
	color: rgb(190, 190, 190);
	font-family: 'Montserrat', 'Zen Kaku Gothic New', sans-serif;
	font-size: 1em;
	margin: 0.5em 0;

	@media (max-width: 479px) {
		font-size: 0.9em;
	}
}

.title-divider {
	background-color: #f77d06;
	border: none;
	height: 4px;
	width: 5%;
	margin-top: 1em;
}

.title-style-top {
	color: white;
	font-size: 0.5em;
	font-weight: 500;
	margin-top: 6em;
	margin-left: 0;
	text-align: left;
	letter-spacing: 0.05em;
}
