<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ config.description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="theme-color" content="{{ config.extra.accent_color | default(value='#9a9996') | safe }}" />

	{%- if config.extra.accent_color_dark %}
		<meta name="theme-color" content="{{ config.extra.accent_color_dark | safe }}" media="(prefers-color-scheme:dark)" />
	{%- endif %}

	<title>{% include "partials/title.html" %}</title>
	{%- include "partials/favicon.html" %}
	{%- include "partials/variables.html" %}
	<link type="text/css" rel="stylesheet" href="{{ get_url(path='style.css') | safe }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300..700&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
