<li id="language-switcher" class="ls-container">
    {%- set target_lang = "ja" if lang == "en" else "en" -%}
    {%- set switch_url = get_url(path="@/" ~ page.relative_path, lang=target_lang) -%}

    <a class="ls-trigger current-lang" href="{{ switch_url }}"
       title="Switch to {{ target_lang | upper }}">
        {%- if lang == "ja" -%}
            <span class="active-lang">JA</span>/<span class="inactive-lang">EN</span>
        {%- else -%}
            <span class="inactive-lang">JA</span>/<span class="active-lang">EN</span>
        {%- endif -%}
    </a>
</li>
