{% set title = "NEWS" %}
{% set subtitle = "お知らせ" %}
{% set slogan = "" %}
{% include "partials/section_title.html" %}

<div class="news-list-parent">
	<div class="news-list">
		<div class="news-list-content">
			{% set news_section = get_section(path="news/_index.md", lang=lang) %}
			{% set limit = limit | default(value=5) %}
			{% set all_news = news_section.pages | slice(end=limit) %}
			{% include "partials/news_list_block.html" %}
		</div>

		<div class="news-btn-container">
			<span class="news-btn-text">News</span>
			<a href="{{ get_url(path="@/news/_index.md", lang=lang) }}" class="circle-btn" aria-label="News link"></a>
		</div>
	</div>
</div>
