{% set bg = "" %}
{% set title = "NEWS" %}
{% set subtitle = "お知らせ" %}
{% set slogan = "" %}
{% set style_top = "" %}
{% include "partials/section_title.html" %}

<div class="news-list-parent">
	<div class="news-list">
		<div class="news-list-content">
			{% set news_section = get_section(path="news/_index.md", lang=lang) %}
			{% set all_news = news_section.pages | sort(attribute="date") | reverse %}
			{% set limit = limit | default(value=5) %}

			<div class="news-list-block">
				{% for news in all_news | slice(end=limit) %}
					<div class="news-list-line">
						<p>
							<span class="news-date">{{ news.date }}</span>
							<span class="news-gap">
								<a href="{{ news.permalink }}" class="news-title-link">
									{{ news.title }}
								</a>
							</span>
						</p>
						<div class="news-divider-bar"></div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="news-btn-container">
			<span class="news-btn-text">News</span>
			<a href="{{ get_url(path="@/news/_index.md", lang=lang) }}" class="circle-btn" aria-label="News link"></a>
		</div>
	</div>
</div>
