{% set all_lines = body | split(pat="\n") %}

<div class="spec-sheet-grid" style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
	<div>
		{% for line in all_lines %}
			{% if line | trim != "" and (loop.index0 % 2) == 0 %}
				{% set parts = line | split(pat="|") %}
				<div class="spec-row">
					{% set spec_title = parts[0] | trim %}
					{% if spec_title is starting_with("**") %}
						<div class="spec-left-sec">{{ spec_title | trim_start_matches(pat="**") | trim }}</div>
					{% elif spec_title is starting_with("*")%}
						<div class="spec-left">{{ spec_title | trim_start_matches(pat="*") | trim }}</div>
					{% else %}
						<div class="spec-left">{{ spec_title }}</div>
					{% endif %}
					<div class="spec-right">
						{% if parts | length > 1 %}
							{{ parts[1] | trim }}
						{% else %}
							{{ "" }}
						{% endif %}
					</div>
				</div>
				{% if spec_title is starting_with("*") and spec_title is not starting_with("**") %}
				<hr class="spec-row-divider-dotted" />
				{% else %}
				<hr class="spec-row-divider" />
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>

	<div>
		{% for line in all_lines %}
			{% if line | trim != "" and (loop.index0 % 2) == 1 %}
				{% set parts = line | split(pat="|") %}
				<div class="spec-row">
					{% set spec_title = parts[0] | trim %}
					{% if spec_title is starting_with("**") %}
						<div class="spec-left-sec">{{ spec_title | trim_start_matches(pat="**") | trim }}</div>
					{% elif spec_title is starting_with("*")%}
						<div class="spec-left">{{ spec_title | trim_start_matches(pat="*") | trim }}</div>
					{% else %}
						<div class="spec-left">{{ spec_title }}</div>
					{% endif %}
					<div class="spec-right">
						{% if parts | length > 1 %}
							{{ parts[1] | trim }}
						{% else %}
							{{ "" }}
						{% endif %}
					</div>
				</div>
				{% if spec_title is starting_with("*") and spec_title is not starting_with("**") %}
				<hr class="spec-row-divider-dotted" />
				{% else %}
				<hr class="spec-row-divider" />
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>
