{% import "macros/rel_attributes.html" as macros_rel_attributes %}
{% import "macros/translate.html" as macros_translate %}
{%- set language_strings = load_data(path="i18n/" ~ lang ~ ".toml", required=false) -%}
{%- set date_locale = macros_translate::translate(key="date_locale", default="en_US", language_strings=language_strings) -%}
{%- set date_format = macros_translate::translate(key="date_format", language_strings=language_strings) -%}


<!DOCTYPE html>
{% include "partials/head.html" %}

<body>
	{% block body %}
		{%- if config.extra.nav.links %}
			{% include "partials/nav.html" %}
		{%- endif %}

		<main id="main-content">
			{% block custom %}{% endblock custom %}

			{%- if page.extra.go_to_top or section.extra.go_to_top %}
				<div id="buttons-container">
					<a id="go-to-top"
						href="#top"
						title="{{ macros_translate::translate(key='go_to_top', default='Go to Top', language_strings=language_strings) }}">
						<i class="icon"></i>
					</a>
				</div>
			{%- endif %}

			{% block content %}{% endblock content %}
		</main>

		{% include "partials/footer.html" %}
	{% endblock body %}

	{% block scripts %}
		<script src="{{ get_url(path='js/nav-toggle.js') }}"></script>
		<script src="{{ get_url(path='js/nav-links.js') }}"></script>
		<script src="{{ get_url(path='js/scroll-hint.js') }}"></script>
	{% endblock scripts %}

{% if current_path == "/" or current_path == "/en/" %}
	<div class="scroll-hint">
		<div class="scroll-hint-inner">
			<span>SCROLL DOWN</span>
			<div class="arrow">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
					<path d="M7 6l5 10 5-10z"/>
				</svg>
			</div>
		</div>
	</div>
{% endif %}

</body>
</html>
