{% extends "base.html" %}

{% block content %}
{%- set date_format = macros_translate::translate(key="date_format", language_strings=language_strings) -%}

<article class="job-post">
	<header class="job-post__header">
		<h1 class="job-post__title">{{ page.title }}</h1>
		{% if page.date %}
			<p class="job-post__date">
				<time datetime>{{ page.date | date(format=date_format) }}</time>
			</p>
		{% endif %}
	</header>
	<div class="job-post__content">
		{{ page.content | safe }}
	</div>
</article>
{% endblock content %}
