{% extends "section.html" %}

{% block content %}
	{% set bg = "" %}
	{% set title = "NEWS" %}
	{% set subtitle = "お知らせ" %}
	{% set slogan = "" %}
	{% set style_top = "お知らせ/" ~ page.title %}
	{% include "partials/section_title.html" %}

	<article class="news-article">
		<div class="news-article-date">
			{{ page.date }}
		</div>
		<div class="news-article-title">
			{{ page.title }}
		</div>
		<div class="news-article-content">
			{{ page.content | safe }}
		</div>
		{% if page.extra.link %}
			<a href="{{ page.extra.link }}" target="_blank" rel="noopener" class="news-article-link">
				{{ page.extra.link }}
			</a>
		{% endif %}
		<div class="news-article-back">
			<span class="back-text">Back to List</span>
			<a href="{{ get_url(path='news/', lang=lang) }}" class="circle-btn back-btn">
			</a>
		</div>
	</article>

	<div class="section">
		<div class="card-grid single-bottom-card">
			{% if lang == "en" %}
				{% set page_name = "contact/_index.en.md" %}
			{% else %}
				{% set page_name = "contact/_index.md" %}
			{% endif %}
			{% set bottom_card = True %}
			{% include "partials/prefooter_card.html" %}
		</div>
	</div>

{% endblock content %}
