{% extends "section.html" %}

{% block content %}
	{% set bg = "" %}
	{% set title = "NEWS" %}
	{% set subtitle = "お知らせ" %}
	{% set slogan = "" %}
	{% set style_top = "お知らせ" %}
	{% include "partials/section_title.html" %}

	<div class="news-list-parent">
		<div class="news-list">
			<div class="news-list-content">
				{% set all_news = paginator.pages %}

				<div class="news-list-block">
					{% for news in all_news %}
						<div class="news-list-line">
							<p>
								<span class="news-date">{{ news.date }}</span>
								<span class="news-gap">
									<a href="{{ news.permalink }}" class="news-title-link">
										{{ news.title }}
									</a>
								</span>
							</p>
							<div class="news-divider-bar"></div>
						</div>
					{% endfor %}
				</div>

				{% if paginator.number_pagers > 1 %}
				<div class="pagination">
					{% if paginator.previous %}
						<a href="{{ paginator.previous }}">&laquo; Previous</a>
					{% endif %}

					<span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>

					{% if paginator.next %}
						<a href="{{ paginator.next }}">Next &raquo;</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>

{%- if section.extra.prefooter_cards -%}
<div class="section">
	<div class="card-grid{% if not left_card_image and not right_card_image and bottom_card_image %} single-bottom-card{% endif %}">
		{% set cards = section.extra.prefooter_cards %}
		{% set total = cards | length %}
		{%- for card in section.extra.prefooter_cards -%}
		{%- set page_name = card -%}
		{%- if loop.last and (total % 2) != 0 %}
		{% set bottom_card = True %}
		{%- endif -%}
		{% include "partials/prefooter_card.html" %}
		{%- endfor -%}
	</div>
</div>
{%- endif -%}

{% endblock content %}
