{% extends "section.html" %}

{% block section_body %}

  {{- section.content | safe -}}

  <div class="twocols segment">
    <div class="twocols-left">
      <h2 class="segment__title">WANTED</h2>
      <p class="segment__subtitle">Currently available</p>
      <p class="segment__slogan">POSITIONS</p>
      <div class="segment__divider"></div>
    </div>

    <div class="twocols-right">
      {% include "partials/jobs_list.html" %}
    </div>
  </div>

  <div class="twocols segment">
    <div class="twocols-left">
      <h2 class="segment__title">APPLICATION FORM</h2>
      <p class="segment__subtitle">Join us</p>
      <p class="segment__slogan">SPACE CUBICS</p>
      <div class="segment__divider"></div>
    </div>

    <div class="twocols-right">
      {% if lang == "ja" %}
        {%- set name_field = "お名前" -%}
        {%- set email_field = "メールアドレス" -%}
        {%- set role_field = "希望するポジション" -%}
        {%- set message_field = "メッセージを入力してください" -%}
        {%- set button_label = "送信" -%}
      {% else %}
        {% set name_field = "Name" -%}
        {% set email_field = "Email address" -%}
        {% set role_field = "Desired position" -%}
        {% set message_field = "Please enter your message here" -%}
        {% set button_label = "Send" -%}
      {% endif %}
      {% include "partials/application_form.html" %}
    </div>
  </div>

{% endblock section_body %}
