{% extends "base.html" %}

{% block content -%}
<div class="section-title-block">
	<div class="section-title-content">
		<h1>{{ section.title }}</h1>
		<h3>{{ section.description }}</h3>
		<div class="section-title-divider"></div>
		{% if style_top %}
		<div class="section-title-style-top">TOP/{{ style_top }}</div>
		{% endif %}
	</div>
</div>
{% if section.extra.background_image %}
<div class="twocol-1-section" style="background-image: url('/{{ section.extra.background_image }}');">
	<div class="twocol-image-container">
		<div>1</div>
	</div>
</div>
{% endif %}
{{- section.content | safe -}}
{%- endblock content %}
